.Rproj.user
.Rhistory
.RData
.Ruserdata
analysis/banerjee_2024_data/
misc/
data_check/test
data_check/
old/
slurm*
experiment/prolific_code.txt
cmdstan-2.36.0/
data_check_choice_only/
*remove_unneeded_columns.R